<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{@blog.description}}">
<meta name="author" content="{{@blog.title}}">

<!-- Twitter Card -->
{{#if post}}
{{#post}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="DannyDelott">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{excerpt}}">
<meta name="twitter:creator" content="{{author.name}}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{@blog.title}}">
<meta property="og:description" content="{{excerpt}}">
<meta property="og:site_name" content="{{@blog.title}}">
{{/post}}
{{else}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="omfgitsasalmon">
<meta name="twitter:title" content="{{@blog.title}}">
<meta name="twitter:description" content="{{@blog.description}}">
<meta name="twitter:creator" content="{{@blog.title}}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{@blog.title}}">
<meta property="og:description" content="{{@blog.description}}">
<meta property="og:site_name" content="{{@blog.title}}">
{{/if}}

<link rel="stylesheet" type="text/css" href="{{asset 'css/screen.css' }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ asset 'img/favicon.ico' }}">

<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{#if post}}
{{#post}}
<title>{{title}} | {{@blog.title}}</title>
{{/post}}
{{else}}
<title>{{@blog.title}}</title>
{{/if}}

{{ghost_head}}
</head>

<body class="{{body_class}}">
<div class="wrapper">

{{! Menu }}
{{#if post}}
<nav class="nav fixed">
{{else}}
<nav class="nav">
{{/if}}
    <a style="border:none;" id="logo" href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
    <ul class="nav-primary">
        {{! TODO: Add URLs here }}
        <li><a href="http://github.com/DannyDelott"><img src="{{asset 'img/github-32.png' }}"></a></li>
        <li><a href="http://linkedin.com/in/dannydelott"><img src="{{asset 'img/linkedin-32.png' }}"></a></li>
    </ul>
</nav>

{{! Everything else gets inserted here }}
{{{body}}}

</div> {{! End of wrapper }}

{{! Scripts }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset 'js/fittext.js' }}"></script>
<script type="text/javascript" src="{{ asset 'js/app.js' }}"></script>
<script type="text/javascript" src="{{ asset 'js/respond.min.js' }}"></script>
<script>
  (function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-42439076-3","auto");ga("send","pageview")
</script>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

</body>
</html>
